.sidebar_container {
	@apply md:block w-1/12;
	max-width: 100px;

	.sidebar {
		@apply fixed py-8 bg-cyan-800 min-h-full hidden md:block;
		max-width: 100px;
		width: inherit;
		ul {
			@apply flex flex-col gap-4;
		}
	}
}
