.large_card {
	@apply w-full rounded-2xl flex flex-col justify-end gap-2 relative cursor-pointer;
	height: 300px;

	&::before {
		@apply w-full h-full absolute top-0 left-0 bg-gradient-to-t from-cyan-700 rounded-2xl opacity-100 transition-opacity duration-200;
		z-index: 1;
		content: '';
	}

	&::after {
		@apply w-full h-full absolute top-0 left-0 bg-gradient-to-t from-orange-900 rounded-2xl opacity-0 transition-opacity duration-200;
		z-index: 1;
		content: '';
	}

	&:hover::after {
		@apply opacity-10;
	}

	.content {
		@apply absolute flex flex-col gap-3 bottom-0 left-0 py-5 px-7 z-10;
		.title {
			@apply font-bold text-3xl;
		}

		.description {
			@apply text-sm font-light;
		}

		.additional_info {
			@apply text-sm flex flex-row gap-3 font-light;
		}
	}

	img {
		@apply min-h-full rounded-2xl object-cover object-center;
	}
}
