.button {
	@apply flex-center gap-1.5 font-light border;

	&.filled {
		@apply bg-orange-500 border border-orange-500;

		&:disabled {
			@apply bg-gray-700 text-gray-400 border-gray-700;
		}

		&:hover {
			@apply brightness-90;
		}

		&:focus {
			@apply brightness-105;
		}
	}

	&.outlined {
		@apply bg-transparent border border-white;

		&:disabled {
			@apply text-gray-400 border-gray-700;
		}

		&:hover {
			@apply border-orange-500;
		}

		&:focus {
			@apply border-orange-500 text-orange-500 brightness-125;
		}
	}

	&.text {
		@apply text-white bg-transparent border-transparent;

		&:disabled {
			@apply text-gray-400;
		}

		&:hover {
			@apply text-orange-500;
		}

		&:focus {
			@apply text-orange-500 brightness-125;
		}
	}

	&.full_width {
		@apply w-full;
	}

	&.regular {
		@apply rounded;
	}

	&.extra {
		@apply rounded-2xl;
	}

	&.small {
		@apply py-2 px-3;
		font-size: 0.8rem;
	}

	&.medium {
		@apply py-2 px-4;
		font-size: 0.9rem;
	}

	&.large {
		@apply py-3 px-6;
		font-size: 0.9rem;
	}
}
